* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Sans-Serif;
  user-select: none;
}

html {
  font-size: 100%;
  font-family: Arial, sans-serif;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}
